<h2>Olvidaste tu contraseña?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :correo; %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Envienme instrucciones para restablecer contraseña" %>
  </div>
<% end %>
<br>
<br>
<br>
<br>

<%= link_to "<button class='normalbtn'>Volver</button>".html_safe, 'javascript:history.go(-1);' %>
